@model ExpensesmanagementSystem.Models.Expens

@{
    ViewBag.Title = "viewReceipts";
}

<h2>viewReceipts</h2>

<div>
    <h4>Expens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiptdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiptdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiptamount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiptamount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadReceipt)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusofReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusofReceipt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptNo }) |
    @Html.ActionLink("Back to List", "ViewReceipts")
</p>
